.breadcrumb{
    display: flex;
    align-items: center;
    gap:8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin:60px 170px;
    text-transform: capitalize;
}
@media(max-width:1280px){
    .breadcrumb{
        font-size: 14px;
        margin:30px 50px;
    }
}
@media(max-width:1024px){
    .breadcrumb{
        font-size: 13px;
        margin:30px 30px;
    }
}
@media(max-width:800px){
    .breadcrumb{
        font-size: 12px;
        margin:30px 10px;
    }
}
@media(max-width:500px){
    .breadcrumb{
        font-size: 10px;
    }
}